.logout--button{

    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    width: 100px;

}

.profile--button{

    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100px;

}

